body {
    padding: 0px;
    margin: 0px;
    background-color: grey;
}
main {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.diceArea {
    width: 70vw;
}

.sideBar {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.settings {
    height: 24vh;
    border: 1px darkgreen solid;
    display: grid;
    align-content: center;
}


.diceArea {
    font-size: 40px;
}


.userButtons {
    height: 25vh;
}

.logo {
    height: 50vh;
}